-# app/views/schoolboard/sessions/new.html.haml

%h1 Login
= render "schoolboard/sessions/partials/form"
-#= link_to "Did you forget your password?", new_schoolboard_password_reset_path
= link_to "Go Back", root_path
