-# app/views/adminboard/branding/show.html.haml

.colorGrid
  .colorGridBox
    .colorGridItem
      %h3 Purple
  %ul.colorGridBox
    %li.colorGridList.purple03Bg
      %p.purple00Ft #f3e8fb
    %li.colorGridList.purple02Bg
      %p.purple00Ft #d2a3ef
    %li.colorGridList.purple01Bg
      %p.purple00Ft #b15ee3
    %li.colorGridList.purple00Bg.main
      %p.purple03Ft #901ad8
    %li.colorGridList.purple10Bg
      %p.purple00Ft #641297
    %li.colorGridList.purple20Bg
      %p.purple00Ft #390a56
    %li.colorGridList.purple30Bg
      %p.purple00Ft #0e0215

.colorGrid
  .colorGridBox
    .colorGridItem
      %h3 Blue
  %ul.colorGridBox
    %li.colorGridList.blue03Bg
      %p.blue00Ft #e8f4fd
    %li.colorGridList.blue02Bg
      %p.blue00Ft #a4d5f9
    %li.colorGridList.blue01Bg
      %p.blue00Ft #60b5f5
    %li.colorGridList.blue00Bg.main
      %p.blue03Ft #1d96f2
    %li.colorGridList.blue10Bg
      %p.blue00Ft #1469a9
    %li.colorGridList.blue20Bg
      %p.blue00Ft #0b3c60
    %li.colorGridList.blue30Bg
      %p.blue00Ft #020f18

.colorGrid
  .colorGridBox
    .colorGridItem
      %h3 Green
  %ul.colorGridBox
    %li.colorGridList.green03Bg
      %p.green00Ft #e8faf2
    %li.colorGridList.green02Bg
      %p.green00Ft #a3ebce
    %li.colorGridList.green01Bg
      %p.green00Ft #5eddaa
    %li.colorGridList.green00Bg.main
      %p.green03Ft #19cf86
    %li.colorGridList.green10Bg
      %p.green00Ft #11905d
    %li.colorGridList.green20Bg
      %p.green00Ft #0a5235
    %li.colorGridList.green30Bg
      %p.green00Ft #02140d

.colorGrid
  .colorGridBox
    .colorGridItem
      %h3 Red
  %ul.colorGridBox
    %li.colorGridList.red03Bg
      %p.red00Ft #fce8ed
    %li.colorGridList.red02Bg
      %p.red00Ft #f5a4b8
    %li.colorGridList.red01Bg
      %p.red00Ft #ee6083
    %li.colorGridList.red00Bg.main
      %p.red03Ft #e81c4f
    %li.colorGridList.red10Bg
      %p.red00Ft #a21337
    %li.colorGridList.red20Bg
      %p.red00Ft #5c0b1f
    %li.colorGridList.red30Bg
      %p.red00Ft #170207

.colorGrid
  .colorGridBox
    .colorGridItem
      %h3 Yellow
  %ul.colorGridBox
    %li.colorGridList.yellow03Bg
      %p.yellow00Ft #fef7e8
    %li.colorGridList.yellow02Bg
      %p.yellow00Ft #fde2a5
    %li.colorGridList.yellow01Bg
      %p.yellow00Ft #fbcd61
    %li.colorGridList.yellow00Bg.main
      %p.yellow03Ft #fab81e
    %li.colorGridList.yellow10Bg
      %p.yellow00Ft #af8015
    %li.colorGridList.yellow20Bg
      %p.yellow00Ft #64490c
    %li.colorGridList.yellow30Bg
      %p.yellow00Ft #191203

.colorGrid
  .colorGridBox
    .colorGridItem
      %h3 Gray
  %ul.colorGridBox
    %li.colorGridList.gray03Bg
      %p.gray00Ft #f2f3f3
    %li.colorGridList.gray02Bg
      %p.gray00Ft #cdcfd1
    %li.colorGridList.gray01Bg
      %p.gray00Ft #a7abaf
    %li.colorGridList.gray00Bg.main
      %p.gray03Ft #82888d
    %li.colorGridList.gray10Bg
      %p.gray00Ft #5b5f62
    %li.colorGridList.gray20Bg
      %p.gray00Ft #343638
    %li.colorGridList.gray30Bg
      %p.gray00Ft #0d0d0e
