- #  -- Path:  /admin/mailers
- #  -- Name:  password_reset
- #  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
%h2{style: "color:#262340;font-size:32px;line-height:1.6em;"}
  Hi
  %b{style: "color:#6058a0;font-size:32px;line-height:1.6em;"}
    #{@administrator.email},
%p{style: "color:#433d70;font-size:18px;line-height:1.6em;"}
  We got a request to reset your password.
%div{style: "padding:16px 0;"}
  = link_to "Click to Proceed", edit_adminboard_password_reset_url(@administrator.reset_password_token), style: "color:#6058a0;background-color:#efeef5;padding:16px;font-size:18px;line-height:1.6em;text-decoration:none;border:solid 2px #6058a0;border-radius:4px;"
%p{style: "color:#433d70;font-size:18px;line-height:1.6em;"}
  If you ignore this message, your password will not be changed.
