- #  -- Path:  /admin/password_resets
- #  -- Name:  new
- #  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
%h1 Get password reset
= render "adminboard/password_resets/partials/form", object: @administrator
= link_to "Go Back", adminboard_login_path
